# Baseline Model

In [2]:
import pandas as pd

In [4]:
!pwd

/home/hector2gt/code/hadri96/Mush_Me/notebooks/Baseline Model

## Import Data

In [10]:
meta_train_mini_df = pd.read_csv("../../Mush_Me/data/metadata/cleaned_metadata/metadata_mini_train.csv")
meta_test_mini_df = pd.read_csv("../../Mush_Me/data/metadata/cleaned_metadata/metadata_mini_test.csv")

In [11]:
meta_train_df = pd.read_csv("../../Mush_Me/data/metadata/cleaned_metadata/metadata_train.csv")
meta_test_df = pd.read_csv("../../Mush_Me/data/metadata/cleaned_metadata/metadata_test.csv")

In [14]:
meta_test_mini_df.columns

Index(['Unnamed: 0', 'level_0', 'index', 'date', 'year', 'month', 'day',
       'countryCode', 'taxonID', 'scientificName', 'phylum', 'class', 'order',
       'family', 'genus', 'specificEpithet', 'species', 'ImageUniqueID',
       'Substrate', 'Latitude', 'Longitude', 'CoorUncert', 'Habitat',
       'image_path', 'class_id', 'genus_id', 'family_id'],
      dtype='object')

## Baseline Model for the mini Dataset

In [15]:
# merge train and test dataset
meta_mini_df = pd.concat([meta_train_mini_df, meta_test_mini_df])

In [18]:
len(meta_mini_df)

34701

In [19]:
meta_mini_df['species'].value_counts()

Mycena galericulata    1188
Clitocybe nebularis    1069
Amanita muscaria        878
Boletus edulis          808
Amanita rubescens       746
                       ...
Mycena vulgaris          36
Russula laeta            35
Agaricus bisporus        34
Clitocybe diatreta       33
Russula insignis         31
Name: species, Length: 179, dtype: int64

In [20]:
meta_mini_df['species'].value_counts()/len(meta_mini_df)

Mycena galericulata    0.034235
Clitocybe nebularis    0.030806
Amanita muscaria       0.025302
Boletus edulis         0.023285
Amanita rubescens      0.021498
                         ...
Mycena vulgaris        0.001037
Russula laeta          0.001009
Agaricus bisporus      0.000980
Clitocybe diatreta     0.000951
Russula insignis       0.000893
Name: species, Length: 179, dtype: float64

## Baseline Model for large Dataset

In [21]:
# merge train and test dataset
meta_df = pd.concat([meta_train_df, meta_test_df])

In [22]:
len(meta_df)

281557

In [24]:
meta_df['species'].value_counts()

Trametes versicolor          1846
Fomitopsis pinicola          1677
Hypholoma fasciculare        1543
Pluteus cervinus             1297
Bjerkandera adusta           1276
                             ...
Galerina ampullaceocystis      27
Brunneoporus kuzyanus          27
Connopus acervatus             26
Verpa bohemica                 26
Morchella conica               21
Name: species, Length: 1547, dtype: int64

In [25]:
meta_df['species'].value_counts()/len(meta_df)

Trametes versicolor          0.006556
Fomitopsis pinicola          0.005956
Hypholoma fasciculare        0.005480
Pluteus cervinus             0.004607
Bjerkandera adusta           0.004532
                               ...
Galerina ampullaceocystis    0.000096
Brunneoporus kuzyanus        0.000096
Connopus acervatus           0.000092
Verpa bohemica               0.000092
Morchella conica             0.000075
Name: species, Length: 1547, dtype: float64

# Check for equal destribution

## Mini Dataset

In [26]:
meta_train_mini_df['species'].value_counts()

Mycena galericulata    1070
Clitocybe nebularis     963
Amanita muscaria        785
Boletus edulis          723
Amanita rubescens       671
                       ...
Russula laeta            32
Mycena rosella           32
Agaricus bisporus        30
Clitocybe diatreta       29
Russula insignis         28
Name: species, Length: 179, dtype: int64

In [27]:
meta_test_mini_df['species'].value_counts()

Mycena galericulata         118
Clitocybe nebularis         106
Amanita muscaria             93
Boletus edulis               85
Amanita rubescens            75
                           ...
Russula laeta                 3
Amanita lividopallescens      3
Russula aurea                 3
Russula insignis              3
Mycena luteovariegata         3
Name: species, Length: 179, dtype: int64

## Large Dataset

In [28]:
meta_train_df['species'].value_counts()

Trametes versicolor      1658
Fomitopsis pinicola      1507
Hypholoma fasciculare    1388
Pluteus cervinus         1164
Bjerkandera adusta       1152
                         ...
Phloeomana clavata         24
Brunneoporus kuzyanus      24
Connopus acervatus         23
Verpa bohemica             23
Morchella conica           20
Name: species, Length: 1547, dtype: int64

In [29]:
meta_test_df['species'].value_counts()

Trametes versicolor          188
Fomitopsis pinicola          170
Hypholoma fasciculare        155
Pluteus cervinus             133
Fomes fomentarius            127
                            ...
Oxyporus obducens              2
Tricholomopsis decora          2
Roridomyces roridus            2
Galerina ampullaceocystis      2
Morchella conica               1
Name: species, Length: 1547, dtype: int64